{% extends 'base.html' %} {% block content %}


<h1>Lamp Operation</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Plant Monitoring</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/fan_operation">Fan Operation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active " href="/lamp_operation" tabindex="-1" aria-disabled="true">Lamp Operation</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " href="/pump_operation" tabindex="-1" aria-disabled="true">Pump Operation</a>
    </li>
</ul>
<!-- create a table -->
<table class="table table-striped">
    <thead style="position: sticky;top: 0" class="bg-dark shadow border border-1 text-white">
        <tr>
            <th>ID</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Lamp Status (On/Off)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in result %}
        <tr>
            <th scope="row">{{row[0]}}</th>
            <td>{{row[1]}}</td>
            <td>{{row[2]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</body>

</html>
{% endblock%}